body{
    background-color: lightblue;
}

button{
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
h1 {
    animation: move 2s infinite alternate;
}

@keyframes move {
    from { transform: translateX(0); }
    to { transform: translateX(50px); }
}